<form action="<%= cats_url %>" method="post">

    
    <label> Name:
    <input type="text" name="cat[name]">
    </label>

    <br />

    <label> Color:
        <input type="text" name="cat[color]">
    </label>

    <br />

    <label> Birth_date:
        <input type="text" name="cat[birth_date]">
    </label>


    <label> Sex:
        <input type="text" name="cat[sex]">
    <label>

    <br />

    <input type="submit" value="Create Cat">

    </form>